@font-face {
    font-family: "Monoton";
    src: url("Monoton-Regular.ttf")
}
a:nav-link {
    color: white;
}
a:hover, a:focus {
    color: #2a6496;
    text-decoration: none;
}
a:focus {
    outline: thin dotted white;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
}
body {
    background-color: white;
    max-width: 1350px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}
#teamabout {
    color: black
}
#teamabout:hover {
    color: orange;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
#closebtn:hover {
    color: red;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
#closebtn2:hover {
    color: red;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
#introtext {
    color: black;
}
#introtext:hover {
    color: linear-gradient(to right, #77B7C1, #796E94);
}
#leftarray {
    font-size: 80px;
    color: white;
    background-color: transparent;
}
#leftarray:hover {
    text-shadow: 0 0 10px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
#rightarray {
    font-size: 80px;
    color: white;
    background-color: transparent;
}
#rightarray:hover {
    text-shadow: 0 0 10px;
    transition-duration: 0.2s;
    -webkit-transition-duration: 0.2s; /* Safari */
}
#title {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    text-align: left;
}
#sound {
    width: 210px;
}
#logotext {
    display: inline-block;
    color: black;
    font-size: 25px;
    font-family: Monoton;
    margin-top: 25px;
}
#logo {
    display: inline;
    width: 50px;
    height: 50px;
    background-color: transparent;
    margin-top: -10px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px #E0E0E0;
    border-radius: 15px;
}
#backgroundForteampage{
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
}
#googleMap {
    border-radius: 10px;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: -3;
    width: 98.3%;
    height: 97%;
}
#backgroundcover {
    left: 0px;
    top: 0px;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0);
    text-align: center;
}
#mapiframe {
    border-radius: 10px;
    margin: 15px;
    margin-top: 20px;
}
.placeFrame {
    width: 180px;
    height: 180px;
    background: white;
    border: thin solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #E0E0E0;
}
.exhibitionFrame {
    width: 150px;
    height: 110px;
    background-color: white;
    display: inline-block;
    margin-top: 15px;
    border: thick dotted grey;
    border-radius: 10px;
    box-shadow: 5px 5px 10px #E0E0E0;
    text-align: center;
}
.PicHolder {
    color: white;
}
.sampleTitleFrame {
    width: 150px;
    height: 25px;
    background: grey;
    display: inline-block;
    margin-top: 15px;
    border-radius: 10px;
}
.sampleTitle {
    font-size: 20px;
    color: white;
    font-family: monoton;
}
.Images {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #E0E0E0;
}
.name {
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-family: Consolas, 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', Monaco, 'Courier New', 'monospace';
    text-shadow: 5px 5px 5px #E0E0E0;
    background-color: transparent;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wishlist-heart-group {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 275px;
    left: 30px;
}
.wishlist-heart-group input[type="checkbox"] {
    position: absolute;
    left: -999999px;
    top: -999999px;
}
.wishlist-heart-group input[type="checkbox"] + label svg {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.wishlist-heart-group input[type="checkbox"]:checked + label svg {
    -webkit-animation: wishlist-heart-wiggle 400ms 50ms forwards ease-in-out;
    animation: wishlist-heart-wiggle 400ms 50ms forwards ease-in-out;
}
.wishlist-heart-group input[type="checkbox"]:checked + label svg #heart-path {
    -webkit-animation: wishlist-heart-add 300ms forwards;
    animation: wishlist-heart-add 300ms forwards;
}
.wishlist-heart-group input[type="checkbox"] + label svg #heart-path {
    -webkit-transition: fill 200ms;
    transition: fill 200ms;
}
.wishlist-heart-group label {
    display: inline-block;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}
@-webkit-keyframes wishlist-heart-add {
    0% {
        stroke-width: 5;
    }
    50% {
        stroke-width: 20;
    }
    100% {
        stroke-width: 5;
        fill: #f8332a;
    }
}
@keyframes wishlist-heart-add {
    0% {
        stroke-width: 5;
    }
    50% {
        stroke-width: 20;
    }
    100% {
        stroke-width: 5;
        fill: #f8332a;
    }
}